﻿.header-main {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 10;
  height: 60px;
  background-color: #fff;
  border-top: 6px solid #231815;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2)
}

.header-main .erp-computer-title .erp-logout {
  margin: 16px 20px;
  display: inline-block;
  color: #3b302b;
  cursor: pointer;
}

.header-main .erp-computer-title .erp-empid {
  margin: 16px 20px;
  display: inline-block;
  color: #3b302b;
}

.header-main .erp-mobile-title .erp-logout {
  margin: 16px 20px;
  display: inline-block;
}

.header-main .erp-mobile-title .erp-empid {
  margin: 16px 20px;
  display: inline-block;
  color: white;
}

.header-main .erp-slide-menu button {
  background-color: #ffffff00;
}

.erp-logo {
  text-align: center;
  display: inline-block;
}

.erp-logo a {
  text-decoration: none;
}

.erp-logo a:hover {
  text-decoration: none;
}

.erp-logo span {
  color: #3b302b;
  font-size: 2.5em;
  font-family: PMingLiU;
  font-weight: bold;
}

.erp-logo span:hover {
  font-weight: normal;
}

.ui-panelmenu-content {
  border: 0px;
}

.sidebar-button .ui-button {
  background-color: #fff;
  border: 0px;
  margin: 17px;
}

@media (max-width: 1200px) {
  .header-main .erp-slide-menu {
    display: inline-block;
    width: 7%;
    margin-left: 3%;
  }
  .header-main .erp-slide-menu button {
    height: 59px;
    border: 0px;
    width: 100px;
  }
  .erp-logo {
    width: 90%;
    margin-left: 0px;
  }
}