﻿<div class='container-fluid'>
    <app-nav-header></app-nav-header>
    <div class='row'>
        <div class='col body-content' styleClass="">
            <p-toast></p-toast>
            <erp-loader></erp-loader>
            <router-outlet></router-outlet>
            <p-confirmDialog header="刪除提醒" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="ui-button-danger"></p-confirmDialog>
        </div>
    </div>
    <app-nav-footer></app-nav-footer>
</div>
