﻿@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 85px;
    }
}

@media (min-width: 768px) {
    .body-content {
        padding-top: 85px;
    }
    .nav-menu {
        padding-left: 0px !important;
    }
}

:host ::ng-deep .ui-button, :host ::ng-deep .ui-buttonset {
    margin-right: .25em;
}

:host ::ng-deep .ui-buttonset>.ui-button {
    margin-right: 0;
}