﻿<p-card styleClass="erp-card-large" header="Uber Take Home Test">
    <h6 class="horizon-line"><span>Login</span></h6>
    <p-button label="Click me to start" icon="pi pi-power-off" (onClick)="login()" [disabled]="isLogin()">
    </p-button>
    <div class="ui-g">
        <div class="ui-g-12">
        </div>
        <h6 class="horizon-line"><span>Searching by text</span></h6>
        <div class="ui-g-2">Keyword</div>
        <div class="ui-g-6">
            <input pInputText type="text" [(ngModel)]="searchModel.keyword" maxlength="16" />
        </div>
        <div class="ui-g-4">
            <p-button label="Send" icon="far fa-paper-plane" (onClick)="searchByKeyword()">
            </p-button>
        </div>
        <div class="ui-g-12 p-grid">
            <div class="p-col" *ngFor="let gif of searchResult">
                <img src="{{gif.gif100px}}" height="150px">
            </div>
        </div>
        <h6 class="horizon-line"><span>Viewing trending GIFs</span></h6>
        <div class="ui-g-12">
            <p-button label="Get Trending GIFs" icon="far fa-paper-plane" (onClick)="searchByTrending()">
            </p-button>
        </div>
        <div class="ui-g-12 p-grid">
            <div class="p-col" *ngFor="let gif of trendingResult">
                <img src="{{gif.gif100px}}" height="150px">
                <span>{{gif.title}}</span>
            </div>
        </div>
        <h6 class="horizon-line"><span>Get GIF by each Trending tag</span></h6>
        <div class="ui-g-12 p-grid">
            <div class="p-col " *ngFor="let tag of trendingTags">
                <div class="tagContainer" (click)="getGifByTagName(tag)">
                    <span>{{tag}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 p-grid">
            <div class="p-col" *ngFor="let gif of getByTagNameResult">
                <img src="{{gif.gif100px}}" height="150px">
                <span>{{gif.title}}</span>
            </div>
        </div>
    </div>
</p-card>