﻿/* You can add global styles to this file, and also import other style files */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: '微軟正黑體';
    font-weight: 900;
    content: '\f007';
}

.PageTitle {
    font-weight: 400;
    margin: 16px 0px;
    height: 1em;
}

div {
    word-wrap: break-word;
}

input[type=number] {
    text-align: right;
}

.red {
    color: red !important;
}

/*NAV-HEADER*/

.erp-header {}

/*NAV-MENU*/

.main-nav {}

.menu-bg {
    background-color: #4A3C31;
}

/*INDEX*/

.erp-index-button {
    width: 230px;
    height: 100px;
    margin: 10px !important;
    font-size: 22px !important;
}

@media (min-width: 768px) {

    /*LOGIN*/
    .erp-login-form {
        width: 30%;
        text-align: left;
        padding: 20px;
        margin: 100px auto;
        border-color: #000000;
        border-width: 1px;
        border-style: solid;
        font-size: 20px !important;
    }

    /*MENU*/
    body .ui-panelmenu .ui-panelmenu-header>a {
        background-color: #4A3C31 !important;
        border: 0px !important;
    }

    body .ui-panelmenu .ui-panelmenu-content .ui-menuitem {
        border-radius: 0px !important;
    }

    .ui-panelmenu-content {
        border: 0px !important;
    }

    .ui-menuitem-text {
        color: white;
        font-size: 16px;
    }

    .ui-panelmenu-icon,
    .ui-menuitem-icon {
        color: white;
    }

    .ui-menuitem {
        border-radius: 0px;
        background-color: #4A3C31;
    }
}

@media (max-width: 768px) {

    /*LOGIN*/
    .erp-login-form {
        width: 90%;
        text-align: left;
        padding: 20px;
        margin: 100px auto;
        border-color: #000000;
        border-width: 1px;
        border-style: solid;
        font-size: 20px !important;
    }
}

/*CARD*/

.erp-card-small {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.erp-card-mid {
    width: 70%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.erp-card-large {
    width: 90%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .erp-card-small {
        width: 100%;
    }

    .erp-card-mid {
        width: 100%;
    }

    .erp-card-large {
        width: 100%;
    }
}

/*TABLE*/

.erp-table {
    margin: 20px 0px;
}

.erp-table th {
    text-align: center;
}

.erp-table td {
    text-align: center;
    word-wrap: break-word
}

.erp-column-xsmall {
    width: 10%;
}

.erp-column-small {
    width: 15%;
}

.erp-column-medium {
    width: 20%;
}

.erp-column-large {
    width: 25%;
}

.erp-row-edit-input {
    width: 90%;
}

.erp-button-group {
    margin-top: 20px;
}

.verticle-center {
    padding-top: 1em !important;
}

.center {
    text-align: center;
}

.center input {
    text-align: center;
}

.notice {
    color: blue;
}

.ui-table-tbody>tr>td .ui-column-title {
    display: none;
}

@media (max-width: 992px) {

    .ui-table-thead>tr>th,
    .ui-table-tfoot>tr>td {
        display: none !important;
    }

    .ui-table-tbody>tr>td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
    }

    .ui-table-tbody>tr>td .ui-column-title {
        padding: 0.4rem;
        min-width: 30%;
        display: inline-block;
        margin: -0.4em 1em -0.4em -0.4rem;
        font-weight: bold;
    }

    /* &:last-child {
    border-bottom: 1px solid var(--surface-d);
  } */
}

/* PrimeNG Element */

.ui-inputtext {
    width: 100%;
}

.ui-calendar .ui-inputtext {
    text-align: center;
}

.ui-dropdown {
    min-width: 5em;
}

.ui-spinner input {
    width: 100%;
}

.ui-table tr td input {
    width: 90%;
}

.ui-spinner button {
    margin: 0px !important;
}

.ui-autocomplete-input {
    width: 90% !important;
}

.ui-autocomplete {
    width: 100% !important;
}

.ui-autocomplete-dropdown {
    border: 2px solid #d9c3b0 !important;
}

/* Upload */

.uploadPicture {
    position: relative;
}

.uploadPicture a {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.uploadPicture a:hover {
    background-color: #ffffff8c;
    border-radius: 2.5em;
    color: #80808078;
}

.uploadPicture a i {
    font-size: 2.5em;
    vertical-align: middle;
}

/* Prime Button Addon */
p-button {
    width: 100%;
}

body .ui-button {
    color: white;
}

body .ui-button.dark-btn {
    background-color: #4A3C31 !important;
    border-color: #4A3C31 !important;
}

body .ui-button.dark-btn .ui-button-icon,
body .ui-button.dark-btn .ui-button-icon-right,
body .ui-button.dark-btn .ui-button-icon-left {
    color: white;
}

.ui-button.erp-button-text {
    background-color: white;
    border-color: white;
    color: black;
}

.ui-button.erp-button-text:disabled {
    background-color: white;
    border-color: white;
    color: #0000006e;
}

/* Prime OverlayPanel Addon */

.erp-overlaypanel-small {
    width: 30vw;
}

.erp-overlaypanel-mid {
    width: 50vw;
}

.erp-overlaypanel-large {
    width: 70vw;
}

/* Prime Tab View */
.erp-tab-view {
    background-color: #fff !important;
}

/* Horizontal Line */

.horizon-line {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    line-height: 0.1em;
    margin: 40px 0 20px;
}

.horizon-line span {
    background: #fff;
    padding: 0 10px;
    margin-left: 30px;
    color: #848484;
}

.horizon-line-small {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    line-height: 0.1em;
    margin: 20px 0 20px;
}

.horizon-line-small span {
    background: #fff;
    padding: 0 10px;
    margin-left: 30px;
    color: #848484;
}

/* Reservation Button */
.period-btn button.ui-button {
    height: 3rem;
    border: 2px solid #937763;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
}

.period-btn.avalible button {
    background-color: white;
}

.period-btn.choosen button {
    background-color: #d9c3b0;
}

.period-btn.occupied button {
    background-color: white;
    opacity: 0.3 !important;
}

.period-btn.over-time button {
    background-color: white;
    opacity: 0.3 !important;
}

/* Reservation Sidebar */

.reservation-step .ui-steps-item {
    width: 30%;
}

@media (max-width: 768px) {
    .erp-sidebar {
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .erp-sidebar {
        width: 40em !important;
    }
}

/* TEXT */
.under-line {
    border-bottom: 1px dashed;
}

/* 收據列印 */
.barcode-image {
    width: 100%;
    height: 1cm;
}

.qrcode-image {
    max-width: 100%;
}

.scanner {
    width: 100%;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 110%;
    margin-left: -18px;
}

#print-page {
    width: 100%;
}

#print-page .logo {
    width: 100%;
    text-align: center;
}

.dash-horizon {
    border-bottom: 1px black dashed;
}

html {
    scroll-behavior: smooth;
}

.tagContainer {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.tagContainer:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}