﻿.main-nav {
    min-height: calc(100vh - 60px);
    height: calc(100% - 60px);
    margin-top: 60px;
    background-color: #4A3C31 !important;
    z-index: 1;
    transition: margin-left 0.4s ease;
    margin-left: 0px;
}

.main-nav.hide {
    margin-left: -200px;
}


.main-nav li a {
    cursor: pointer;
    border-radius: 4px;
}

.main-nav li .fa {
    margin-right: 10px;
}

.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.version {
    color: white;
    position: absolute;
    bottom: 10px;
    background-color: #4A3C31;
    padding-left: 2rem;
}

.main-nav .hideMenu-button {
    background-color: #4A3C31;
    border-color: #4A3C31;
    margin-right: -10px;
}

.ui-button-icon {
    color: #fff !important;
}

.main-nav .showMenu-button {
    background-color: #4A3C31;
    border-color: #4A3C31;
    margin-right: -10px;
}

.main-nav .showMenu-button .ui-button-icon-left {
    color: white !important;
}


@media (min-width: 1200px) {
    .main-nav .navbar {
        border-width: 0px;
        vertical-align: top;
        padding: 0px;
    }

    .main-nav .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main-nav .navbar ul {
        float: none;
    }

    .main-nav .navbar li {
        float: none;
        font-size: 18px;
        margin: 6px;
    }

    .main-nav .navbar li a {
        padding: 10px 16px;
    }

    .main-nav .navbar-header {
        float: none;
    }
}

@media(max-width: 1200px) {
    .main-nav {
        display: none;
    }
}