﻿<div class='main-nav' [ngClass]="{'hide':isHidden}">
    <div class="text-right">
        <button pButton icon="fas fa-angle-double-left" (click)="hideMenu()" class="hideMenu-button dark-btn"
            [hidden]="isHidden"></button>
    </div>
    <div class="text-right">
        <button pButton icon="fas fa-angle-double-right" (click)="showMenu()" class="showMenu-button dark-btn"
            [hidden]="!isHidden">
        </button>
    </div>
    <nav class='navbar navbar-expand-lg menu-bg d-flex flex-column nav-menu'>
        <div class="navbar-header p-0 " >
            <p-progressSpinner [style]="{width: '50px', height: '50px', margin: '50px 0px 0px 30%'}" strokeWidth="4"
                animationDuration=".5s" [hidden]="!isLogin() || hasMenu()"></p-progressSpinner>
            <p-panelMenu [model]="menus" [style]="{'margin':'10px','min-width': '200px'}"></p-panelMenu>
        </div>
    </nav>
</div>