﻿<div class="loaderContainer" *ngIf="showLoading()">
    <div class="loader">
        <span class="box"></span>
        <span class="box"></span>
        <span class="txt">LOADING DATA...</span>
    </div>
</div>